$mdc-theme-primary: #ffff00;
$mdc-theme-secondary: #ff9100;;
$mdc-theme-on-primary: #000;
$mdc-theme-on-secondary: #000;

@import "@material/button/mdc-button";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/theme/mdc-theme";
@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    // color: blue;
    display: flex;
    height: 100vh;
}

// .mdc-drawer-app-content {
//     flex: auto;
//     overflow: auto;
// }

#page-content {
    width: 100%;
}

.main-content {
    overflow: auto;
    height: 100%;
    // width: 100%;
}

.content {
    padding: 5%;
}

.app-bar {
    position: absolute;
}

#profile {
    min-height: 25% !important;
}

#email, #name {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(255, 255, 255);
}

#name {
    margin-top: 35%;
}

.google-signin-button {
    @include mdc-button-ink-color(teal);
    @include mdc-states(teal);
    margin: 2.5%;
}

.mdc-drawer {
    @include mdc-drawer-fill-color-accessible(#fff);
}