@import "@material/button/mdc-button";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";
@import "@material/top-app-bar/mdc-top-app-bar";

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    // color: blue;
    display: flex;
    height: 100vh;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

#profile {
    min-height: 25% !important;
}

#email, #name {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(255, 255, 255);
}

#name {
    margin-top: 35%;
}

.google-signin-button {
    @include mdc-button-ink-color(teal);
    @include mdc-states(teal);
    margin: 2.5%;
}